{%extends 'base.html'%}

{%load static%}

{%block content%}
<link rel="stylesheet" href="{%static 'styles/about.css' %}">
<link rel="stylesheet" href="{%static 'styles/photos.css' %}">


<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="{{profile.imageURL}}" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5"><a href="{%url 'singleprofile' profile.id%}">{{profile.name}}</a></h4>
                        <p class="m-b-10">{{profile.short_intro}}</p>
                        {%if profile.account == request.user%}
                        <a href="{%url 'editProfile'%}" class="btn btn-xs btn-success">Edit Profile</a>
                        {%endif%}
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                     {%if 'singleprofile' in request.path%}
                     <li class="nav-item"><a href="{%url 'singleprofile' profile.id%}" class="nav-link_ active show">POSTS</a></li>
                     {%elif 'singleprofile' not in request.path%}
                     <li class="nav-item"><a href="{%url 'singleprofile' profile.id%}" class="nav-link_ ">POSTS</a></li>
                     {%endif%}
                     {%if 'about' in request.path%}
                     <li class="nav-item"><a href="{%url 'about' profile.id%}"  class="nav-link_ active show">ABOUT</a></li>
                     {%elif 'about' not in request.path%}
                     <li class="nav-item"><a href="{%url 'about' profile.id%}"  class="nav-link_ ">ABOUT</a></li>
                     {%endif%}
                     {%if 'photos' in request.path%}
                     <li class="nav-item"><a href="{%url 'photos' profile.id%}" tarpath="__blank" class="nav-link_ active show">PHOTOS</a></li>
                     {%elif 'photos' not in request.path%}
                     <li class="nav-item"><a href="{%url 'photos' profile.id%}" tarpath="__blank" class="nav-link_">PHOTOS</a></li>
                     {%endif%}
                     {%if 'videos'  in request.path%}
                     <li class="nav-item"><a href="{%url 'videos' profile.id%}" tarpath="__blank" class="nav-link_ active show">VIDEOS</a></li>
                     {%elif 'videos' not in request.path%}
                     <li class="nav-item"><a href="{%url 'videos' profile.id%}" tarpath="__blank" class="nav-link_">VIDEOS</a></li>
                    {%endif%}
                     {%if 'friends'  in request.path%}
                     <li class="nav-item"><a href="{%url 'friends' profile.id%}" tarpath="__blank" class="nav-link_ active show">FRIENDS</a></li>
                     {%elif 'friends' not in request.path%}
                     <li class="nav-item"><a href="{%url 'friends' profile.id%}" tarpath="__blank" class="nav-link_">FRIENDS</a></li>
                     {%endif%}
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="col-md-4 hidden-xs hidden-sm">
                    <ul class="profile-info-list">
                        <li class="title">PERSONAL INFORMATION</li>
                        <li>
                            <div class="field">Short Intro:</div>
                            <div class="value">{{profile.short_intro}}</div>
                        </li>
                        <li>
                            <div class="field">Skills:</div>
                            <div class="value">{{profile.skill}}</div>
                        </li>
                        <li>
                            <div class="field">Birth of Date:</div>
                            <div class="value">{{profile.birthdate}}</div>
                        </li>
                        <li>
                            <div class="field">Country:</div>
                            <div class="value">{{profile.location}}</div>
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            <div class="field">Phone No.:</div>
                            <div class="value">
                                {{profile.account.phone_number}}
                            </div>
                        </li>
                        <li class="title">FRIEND LIST ({{profile.friends.all.count}})</li>
                        <li class="img-list">
                           {%for friend in profile.friends.all%}
                            <a href="{%url 'singleprofile' friend.id%}" class="m-b-5"><img src="{{friend.imageURL}}" alt="{{friend.name}}" /></a>
                            {%endfor%}
                        </li>
                    </ul>
                </div> 
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>
  
{%endblock%}