{%extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'styles/style.css'%}">

{% if request.GET.command == 'verification' %}
        <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">

We Have Sent You a verification link to your email Address: {{request.GET.email}}

      <br><br>
            Already Verified? <a href="{%url 'login'%}">Login</a>
        </div>
    <br><br>
{%else%}
<form action="{%url 'login'%}" method="post">
    {%csrf_token%}
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input  type="text" placeholder="Enter Email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button class="btn btn-primary"type="submit">Login</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="{%url 'forgotPassword'%}">password?</a></span>
    </div>
  </form>
{%endif%}
{%endblock%}